header {

	font-family: 'Lato', sans-serif;
	text-align: center;
	font-weight: bold;
	/*font-family: 'Roboto', sans-serif;*/
	font-size: 60px;
	margin: 0 auto;
	background-color: gray;
	color: white;
	padding: 50px 0;
}