header {

	font-family: 'Lato', sans-serif;
	text-align: center;
	font-weight: bold;
	/*font-family: 'Roboto', sans-serif;*/
	font-size: 60px;
	margin: 0 auto;
	background-color: gray;
	color: white;
	padding: 50px 0;
}

.center {

	text-align: center;
}


section {
	margin: 0 auto;
	
}

div {
	
}

a:hover {
	
}

#sizeofNav {


}

img {
	display: block;
	margin:auto;

}